<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Head Librarian Interface</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="module" src="../script/headLibrarian.js"></script>
</head>
<body>
    <h1 id="welcome"></h1> 
    <div id="bookscard"></div>
    <div id="copiescard"></div>
    <div id="authorscard"></div>
    <div id="userscard"></div>
    <h2>Users List</h2>
    <div id="tablediv">

    </div> <br>
    <div id="display" style="display:none"> 

    </div> <br>
    <a href="../index.html">Logout</a>
</body>
</html>