<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Assistant Interface</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <h1 id="welcome"></h1>
    <a href="../index.html">Logout</a>
    <script>
        document.getElementById('welcome').innerHTML = `Welcome Student Assistant ${sessionStorage.fullname}`;
    </script>
</body>
</html>