<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Assistant Interface</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container mt-5">
        <div id="header-div" class="d-flex justify-content-between align-items-center mb-4 pb-3 border-bottom">
            <div>
                <h2 id="welcome" class="fw-bold mb-0"></h2>
                <small class="text-muted">Library Management Dashboard</small>
            </div>
            <a type="button" class="btn btn-outline-danger btn-sm px-3" href="../index.html">Logout</a>
        </div>
    </div>
    <script>
        document.getElementById('welcome').innerHTML = `Welcome Student Assistant ${sessionStorage.fullname}`;
    </script>
</body>
</html>